@model Exercices07.Models.Entities.Trophy

@{
    ViewData["Title"] = "CreateTrophy";
}

<h1>Creation d'un trophée pour @ViewBag.team.Name</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTrophySubmit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" value="@DateTime.Now.Year" max="@DateTime.Now.Year" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
           
                <input  type="hidden" name="TeamId" value ="@ViewBag.team.Id" />
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
